services:
  postgres:
    image: 'postgres:latest'
    ports:
      - '127.0.0.1:5432:5432'
    environment:
      - 'POSTGRES_DB=${DB_NAME}'
      - 'POSTGRES_PASSWORD=${DB_PASSWORD}'
      - 'POSTGRES_USER=${DB_USERNAME}'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_NAME}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql
  api:
    build: .
    profiles:
      - production
    ports:
      - '8080:8080'
    environment:
      - 'DB_URL=jdbc:postgresql://postgres:5432/${DB_NAME}'
      - 'DB_USERNAME=${DB_USERNAME}'
      - 'DB_PASSWORD=${DB_PASSWORD}'
    labels:
      org.springframework.boot.ignore: true
    depends_on:
      postgres:
        condition: service_healthy
volumes:
  postgres_data: